<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title> <!-- 수정된 부분 -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="container">
        <h1>전체 즐겨찾기 목록</h1>
        <ul id="favoriteList"></ul>
    </div>

    <!-- favoriteList.js 파일 링크 -->
    <script src="/js/favoriteList.js"></script>
</body>
</html>