body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    border-bottom: 2px solid mediumseagreen;
    padding-bottom: 10px;
}

input {
    width: calc(70% - 22px);
    padding: 12px;
    margin: 10px 5px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
    font-size: 1rem;
}

input:focus {
    border: 1px solid mediumseagreen;
    outline: none;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: mediumseagreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    font-size: 0.7rem;
}

button:hover {
    background-color: lightseagreen;
    transform: translateY(-2px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

#map {
    border-radius: 5px;
    overflow: hidden;
    height: 500px;
    margin-top: 20px;
}

/* 검색 결과 스타일 추가 */
#searchResults {
    max-height: 300px; /* 최대 높이 */
    overflow-y: auto; /* 세로 스크롤 가능 */
    border: 1px solid #ccc; /* 테두리 */
    background-color: white; /* 배경색 */
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input {
        width: calc(100% - 22px);
    }

    button {
        width: 100%;
        margin: 5px 0;
    }

    #map {
        height: 300px;
    }
}
